<header>
  <nav class="header_menu">
    <ul class="header_menu_list">
      <li class="menu_item"><a href="../main.html" class="nav_link">Головна</a></li>
      <li class="menu_item"><a href="../gluing.html" class="nav_link">Обклейка автомобілів</a></li>
      <li class="menu_item"><a href="../detailing.html" class="nav_link">Детейлинг автомобілів</a></li>
      <li class="menu_item"><a href="../gallery.html" class="nav_link">Галерея робіт</a></li>
      <li><img
    class="cart-icon"
    data-action="open_modal"
    src="https://i.pinimg.com/originals/1e/47/a5/1e47a51092c4b706e69480fd928132c3.png"
  /></li>
    </ul>
  </nav>
  <div class="auth-box">
    <a id="login" class="login">Увійти</a>
    <a id="logout" class="logout">Вийти</a>
    <img id="user_icon" src="" alt="user_photo" />
  </div>
</header>