$background_color: #1e1e1e;
$main_font: white;
$accent_color: #db3138;
$border_color: #898989;
@import url(https://db.onlinewebfonts.com/c/5f16a4773a8a064e3fb29ecb648ffcf5?family=Reforma+Grotesk+W01+Demi);

$font-family: "Reforma Grotesk W01 Demi";
$second-family: "ReformaGroteskMediumC", sans-serif;
$font-family: "ReformaGroteskBoldC", sans-serif;
